<!--
<div ng-controller="adminCtrl">
  <chart value="myChart">
      
  </chart>
</div>
-->    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

     <div>

                    <!-- col 12 -->
                    <div class="col-md-12">

                  <!-- tile -->
                        <section class="tile color transparent-black textured">


                            <!-- tile header -->
                            <div class="tile-header">
                                <h1><strong>Guide Me</strong> users by sites</h1>

                                <div class="controls">
                                    <a href="#" class="minimize"><i class="fa fa-chevron-down"></i></a>
                                    <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                                    <a href="#" class="remove"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                            <!-- /tile header -->

                            <!-- tile body -->
                            <div class="tile-body">

                                <div class="row">

                                    <div class="col-md-12">

                                    <div zingchart id="chart-1" zc-json="myJson" zc-width="100%" zc-height="568px"></div>

                                        
                                    </div>

                                     
                                </div>

                            </div>
                            <!-- /tile body -->


                        </section>
                        <!-- /tile -->


                    </div>
                    <!-- /col 12 -->


                </div>
                